<%- include("templates/header") %>

<div class="container">
  <div>
    <h1 class="mt-4">MY COLLECTIONS</h1>
    <div class="row justify-content-evenly; mt-3; mb-3">
      <div class="col-4">
        <a href="" class="btn btn-info" role="button">Items</a>
      </div>
      <div class="col-4">
        <a href="" class="btn btn-info" role="button">Requests</a>
      </div>
    </div>
    <div class="mt-3; mb-3">
      <input
        type="search"
        class="form-control"
        placeholder="Search..."
        aria-label="Search"
      />
    </div>
  </div>
  <%- include("card") %>
  <%- include("card") %>
  <%- include("card") %>
  <%- include("card") %>

</div>

<%- include("templates/footer") %>
