<%- include("templates/header") %>

    <style>
        .scrollable-div {
            height: 600px;
            /* Set a specific height */
            overflow-y: auto;
            /* Add vertical scrollbar */
        }
    </style>


    <div class="container">
        <%- include("templates/collection") %>

            <div class="scrollable-div pt-2">
                <% items.forEach(function(item){ %>
                    <%- include("templates/itemcard", {item: item}) %>
                        <% }) %>
                        
                            <% requests.forEach(function(request){ %>
                                <%- include("templates/requestcard", {request: request}) %>
                                    <% }) %>

            </div>

    </div>


    <script>
        $('.slider').text('ITEMS');
        $('.requestCard').hide();
      
      
        $(document).ready(function () {
            var urlParams = new URLSearchParams(window.location.search);
            console.log(urlParams);
            var toggle = urlParams.get('toggle');
            console.log(toggle);
            if (toggle === 'requests') {
                $('.toggle').prop('checked', true);
                $('.itemCard').hide();
                $('.requestCard').show();
      
      
                $('.slider').text('REQUESTS');
                $(".slider").css("text-align", "start");
                $(".slider").css("padding-left", "10px");
                $(".slider").css("padding-right", "10px");
            }
        });
      
      
      
      
        $('.toggle').change(function () {
            if (this.checked) {
                console.log('checked');
                $('.itemCard').hide();
                $('.requestCard').show();
      
      
                $('.slider').text('REQUESTS');
                $(".slider").css("text-align", "start");
                $(".slider").css("padding-left", "10px");
                $(".slider").css("padding-right", "10px");
      
      
            } else {
                console.log('unchecked');
      
                $('.itemCard').show();
                $('.requestCard').hide();
      
      
                $('.slider').text('ITEMS');
                $(".slider").css("text-align", "end");
                $(".slider").css("padding-right", "35px");
            }
        });
      </script>
    <%- include("templates/footer") %>