<%- include("templates/header") %>
<section class="jumbotron text-left mt-3">
    <div class="row container">
        <div class="col-auto p-1">
            <a href="/myRequests"><img src="/backarrow.png" alt="Back" width="30px"></a>
        </div>
        <div class="col-auto">
            <h1 class="jumbotron-heading">People Offering</h1>
        </div>
        
    </div>
</section>

    <section class="jumbotron text-left mt-3">
        <div class="container">
            <!--Temporary image card-->
            <div class="container  width-100">
                <div class="card p-4 bg-body-secondary" style="border-radius: 15px;">
                    <h2><%= request.title %></h2>
                    <p><%= request.description %></p>
                </div>
                
            </div>
            <!--End of temporary image card-->
            
        </div>
    </section>
    <hr>
    <div class="album py-2 bg-light">
        <div class="container">
            <div class="row pb-5">
                <div class="container">

                    <% users.forEach(function(user) { %>
                        <%-  include("templates/peopleOfferingCard", {user: user}) %>
                        <% }) %>

                </div>
            </div>
        </div>
        </main>

        <%- include("templates/footer") %>