<%- include("templates/header") %>
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
  <style>
      .profile-container {
          max-width: 600px;
          margin-top: 25px;
          padding: 30px;
          background: white;
          border-radius: 10px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }
      .profile-img {
          border-radius: 50%;
          width: 150px;
          height: 150px;
      }
      .profile-info h4 {
          font-weight: bold;
          margin-bottom: 0.5rem;
      }
      .profile-info p {
          margin-bottom: 0;
          color: #6c757d;
      }
  </style>

  <div class="container profile-container position-relative">
      <div class="text-center mt-4">
          <h1>MY PROFILE</h1>
      </div>
      
      <div class="text-center my-4">
          <img src="<%= user.image_url ? user.image_url : 'https://dummyimage.com/150x150/000/fff&text=Profile+pic' %>" class="profile-img" alt="Profile Picture">
      </div>
      
      <div class="mt-5">
        <div class="container d-flex justify-content-between">
            <h3>ABOUT ME</h3>
            <a href="/editProfile" class="btn" style="color: #fff; background-color: #9B9A30;">Edit Profile</a>
        </div>
          <div class="list-group mt-3">
              <div class="list-group-item list-group-item-action d-flex gap-3 py-3 profile-info">
                  <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                          <h4 class="mb-0">Name</h4>
                          <p class="mb-0"><%= user.displayname %></p>
                      </div>
                  </div>
              </div>
              <div class="list-group-item list-group-item-action d-flex gap-3 py-3 profile-info">
                  <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                          <h4 class="mb-0">Email</h4>
                          <p class="mb-0"><%= user.email %></p>
                      </div>
                  </div>
              </div>
              <div class="list-group-item list-group-item-action d-flex gap-3 py-3 profile-info">
                  <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                          <h4 class="mb-0">Date of Birth</h4>
                          <p class="mb-0"><%= user.birthdate %></p>
                      </div>
                  </div>
              </div>
              <div class="list-group-item list-group-item-action d-flex gap-3 py-3 profile-info">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h4 class="mb-0">Description</h4>
                        <p class="mb-0"><%= user.description %></p>
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action py-3 profile-info">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h4 class="mb-0">Ratings</h4>
                        <p class="text-center">Average Rating: <%= averageRating.toFixed(2) %></p>
                        <% let countAwful=0, countBad=0, countOkay=0, countGood=0, countGreat=0; for(let rating of ratings) {
                            if(rating.emoji==='Awful' ) countAwful++; else if(rating.emoji==='Bad' ) countBad++; else if(rating.emoji==='Okay' )
                            countOkay++; else if(rating.emoji==='Good' ) countGood++; else if(rating.emoji==='Great' ) countGreat++; } %>
                        
                    </div>
                </div>
                <div class="row p-0 m-0">
                    
                    <div class="col d-flex flex-column align-items-center text-center">
                        <img src="https://assets.codepen.io/210284/Disappointed.svg" alt="Disappointed" class="row img-fluid" style="max-width: 200px; max-height: 200px;">
                        <small class="row text-muted"><%= countAwful++ %></small>
                    </div>

                    <div class="col d-flex flex-column align-items-center text-center">
                        <img src="https://assets.codepen.io/210284/Sad.svg" alt="Sad" class="row img-fluid" style="max-width: 200px; max-height: 200px;">
                        <small class="row text-muted"><%= countBad++ %></small>
                    </div>

                    <div class="col d-flex flex-column align-items-center text-center">
                        <img src="https://assets.codepen.io/210284/Expressionless.svg" alt="Expressionless" class="row img-fluid" style="max-width: 200px; max-height: 200px;">
                        <small class="row text-muted"><%= countOkay++ %></small>
                    </div>

                    <div class="col d-flex flex-column align-items-center text-center">
                        <img src="https://assets.codepen.io/210284/Smile.svg" alt="Smile" class="row img-fluid" style="max-width: 200px; max-height: 200px;">
                        <small class="row text-muted"><%= countGood++ %></small>
                    </div>

                    <div class="col d-flex flex-column align-items-center text-center">
                        <img src="https://assets.codepen.io/210284/Falling_in_love.svg" alt="Falling in love" class="row img-fluid" style="max-width: 200px; max-height: 200px;">
                        <small class="row text-muted"><%= countGreat++ %></small>
                    </div>
                               
                </div>
            </div>
            <!-- <div class="mt-4">
                <h4>Notifications</h4>
                <% if (notifications.length > 0) { %>
                    <% notifications.forEach(function(notification, index) { %>
                        <div class="list-group-item list-group-item-action d-flex gap-3 py-3 profile-info">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <form action="/deleteNotification" method="POST">
                                        <input type="hidden" name="index" value="<%= index %>">
                                        <div class="d-flex justify-content-end ">
                                            <button type="submit" class="btn-close" aria-label="Close"></button>
                                        </div>
                                      </form>
                                    
                                      <p><%= notification.message %></p>
                                      <p class="timeDifference" data-timestamp="<%= notification.date %>" ></p>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <div class="list-group-item list-group-item-action d-flex gap-3 py-3 profile-info">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <p>You have no notifications.</p>
                            </div>
                        </div>
                    </div>
                            <% } %>
                       
    
                    
                 
            </div> -->
          </div>
      </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- <script>
    var timeDifferenceElements = document.getElementsByClassName('timeDifference');
    for (var i = 0; i < timeDifferenceElements.length; i++) {
        var timestampFromDatabase = new Date(timeDifferenceElements[i].dataset.timestamp);
  
        var now = new Date();
        var diffInMinutes = Math.round((now - timestampFromDatabase) / 60000); // 60000 ms in a minute
  
        var timeDifferenceText;
        if (diffInMinutes >= 1440) { // 1440 minutes in a day
            var diffInDays = Math.round(diffInMinutes / 1440);
            timeDifferenceText = diffInDays + (diffInDays === 1 ? ' day ago' : ' days ago');
        } else if (diffInMinutes >= 60) {
            var diffInHours = Math.round(diffInMinutes / 60);
            timeDifferenceText = diffInHours + (diffInHours === 1 ? ' hour ago' : ' hours ago');
        } else {
            timeDifferenceText = diffInMinutes + (diffInMinutes === 1 ? ' min ago' : ' mins ago');
        }
  
        timeDifferenceElements[i].textContent = timeDifferenceText;-
    }
  </script> -->




<br>
<br>
<br>
<br>


<%- include("templates/footer") %>