<%- include("templates/header") %>

<div class="container">
  <%- include("templates/collection") %>
  
  <%- include("templates/requestcard") %>
  <%- include("templates/requestcard") %>
  <%- include("templates/requestcard") %>


</div>

<%- include("templates/footer") %>
