<%- include("templates/header") %>

<style>
    #rateUser {
  font-family: 'Bricolage Grotesque', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  color: rgba(0,0,0,0.7);
}
.containerRate {
  width: 300px;
  padding: 0 10px;
  background: #B4BED9;
  border-radius: 20px;
  padding: 40px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;
  justify-content: space-around;
  position: relative;
  transition: background .5s ease-in-out;
}

.titleRate {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0 0 1rem 0;
  line-height: .9;
}
.userName {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0 0 1rem 0;
  line-height: .9;
}
.subtitleRate {
  font-size: 1.2rem;
  margin: 0;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  background: #e5e5e5;
  height: 2px;
  border-radius: 5px;
  outline: none;
  box-shadow: #f2d2bd;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  padding: 5px;
  height: 5px;
  width: 5px;
  border: 5px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  background: #4c4c4c;
}

/* FIREFOX */
input[type="range"]::-moz-range-thumb {
  padding: 5px;
  height: 5px;
  width: 5px;
  border: 5px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  background: #4c4c4c;
}

#imgRate {
  height: 150px;
  width: 150px;
  outline: none;
  animation: dance 1s infinite;
}
.rating {
  font-size: 20px;
  font-weight: 100;
  width: 150px;
}

@keyframes dance {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
</style>

<div id="rateUser">
    <div class="containerRate">
        <div class="d-flex justify-content-end ">
            <a href="/userProfile/<%= users.userProfileId %>" class="btn-close p-4" aria-label="Close"
                fdprocessedid="bcfp"></a>
        </div>
        <div class="px-1 pt-4">
            <p class="titleRate">Rate your experience with</p>
            <p class="userName"><%= users.username %></p>
            <p class="subtitleRate pt-2">Use the slider to rate</p>
            <img id="imgRate" src="https://essykings.github.io/JavaScript/svg-emojis/Neutral.svg" class="emoji pb-0"></img>
        </div>
        
        
        <div class="rating pt-0">
          <p class="pt-0" id="message">&nbsp;</p>
        </div>

        <form action="/userProfile/<%= users._id %>/submitRating" method="POST">
            <input id="slider" type="range" min="0" max="100" value="50" name="rating" />
            <input id="emoji" type="hidden" name="emoji" />
            <button type="submit" class="btn btn-primary mt-4">Submit Rating</button>
        </form>
      
        
      
      </div>
</div>

    <script src="/scripts/userRating.js"></script>

  <%- include("templates/footer") %>
  

  