<div class="card mb-3 requestCard" style="max-width: 450px; max-height: 150px">
  <div class="row g-0">
    <div class="col-auto me-auto">
      <div class="card-body">
        
        <div>
          <a href="/requestDetails?id=<%= request._id %>" style="text-decoration: none; color: black;">
          <h5 class="card-title"><%= request.title %></h5>
          <small class="text-body-secondary"><%= request.status %></small>
          <br />
          <small class="text-body-secondary"
            >Visible to: <%= request.visibility %></small>
          </a>
          </div>
        

        <a href="/peopleOffering/<%= request._id %>" class="btn btn-info" role="button" style="color: white;"
          ><%= request.peopleHave?.length || 0 %> people are offering</a
        >
      </div>
    </div>
    <div class="col-auto" style="margin-top: 25px; margin-right: 27px;">
      <a href="/editRequest?id=<%= request._id %>">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          class="bi bi-three-dots-vertical"
          viewBox="0 0 16 16"
        >
          <path
            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"
          />
        </svg>
      </a>
    </div>
  </div>
</div>
